version: 1

formatters:
  simple:
    format: "%(asctime)s | %(levelname)s | %(name)s | %(message)s"

handlers:
  file:
    class: logging.FileHandler
    level: INFO
    formatter: simple
    filename: logs/app.log

loggers:
  app:
    level: INFO
    handlers: [file]
    propagate: no

root:
  level: INFO
  handlers: [file]
